@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, Arial, sans-serif;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.video-js{
  background-color: transparent !important;
}

.vjs-poster img{
  object-fit: cover !important;
}
 
.vjs-control-bar, .vjs-error-display, video, .vjs-poster img{
  border-radius: var(--radius);
}

.vjs-playback-rate-value{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vjs-playback-rate{
  display: block !important;
}

.vjs-theme-fantasy .vjs-play-progress, .vjs-theme-fantasy .vjs-play-progress:before{
  background-color: #ae7aff !important;
}

@media (max-width: 768px) {
    .vjs-volume-panel{
      display: none !important;
    }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}

@supports (scrollbar-color: auto) {
  html {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) #f1f1f100;
  }
  .no-scrollbar{
    scrollbar-color: transparent #f1f1f100;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    height: 0px !important ; /* Makes scrollbar very small */
  }
}

.no-scrollbar::-webkit-scrollbar {
  height: 0px !important ; /* Makes scrollbar very small */
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent !important; /* Keeps track invisible */
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2) !important; /* Light scrollbar thumb */
  border-radius: 10px !important; /* Rounded edges */
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4) !important; /* Slightly visible on hover */
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="number"] {
  /* Hides the arrows in most browsers */
  -moz-appearance: textfield;
  /* Firefox */
  -webkit-appearance: none;
  /* Chrome, Safari, Edge */
  appearance: none;
}

/* For Chrome and Safari to completely hide the up/down controls */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.active {
  color: hsl(var(--background));
  background-color: hsl(var(--primary));
}

.active:hover {
  color: hsl(var(--background)) !important;
  background-color: hsl(var(--primary)) !important;
}

.deactive {
  color: hsl(var(--primary));
  background-color: hsl(var(--background));
}

.deactive:hover {
  color: hsl(var(--primary)) !important;
  background-color: hsl(var(--accent)) !important;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}